body.not-logged-in {
    background-color: #0099E0;
    font-family: verdana, sans-serif;

    &.vcenter {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        main {
            margin-top: 0px;
            margin-bottom: 0px;
            align-self: center;   
        }
    }

    main {
        margin-top: 190px;
        margin-bottom: 160px;

        .info-centered {
            text-align: center;
            color: #fff;
            font-style: italic;
        }

        .btn-sign {
            border: none;
            background-color: rgba(0,0,0,0);
            color: #fff;
            font-size: inherit;
            padding-top: 3rem
        }

        .custom-width {

            .info {
                padding-left: 0;
                color: #ffffff;
                font-style: italic;
                font-size: 120%;
            }

            h1 {
                text-align: center;
                color: #ffffff;
            }

            .form-wrapper {
                form {
                    label {
                        font-size: 120%;
                        font-weight: 100;
                        color: #B1DFF5;
                        margin-top: 32px;
                        padding-left: 0;
                    }

                    input, select {
                        width: 250px;
                        background: transparent;
                        color: #ffffff;
                        border-bottom: 2px solid #fff !important;
                        font-size: 120%;
                        margin-top: 32px;
                        border: 0px none;
                    }
                    select {
                        -webkit-appearance: none;
                        -moz-appearance: none;
                        background: url("../images/drop-down-arrow.png") calc(100% - 10px) 10px no-repeat; /*Adds background-image*/
                        background-size: 10px;
                        text-indent: 0.01px;
                        text-overflow: "";
                        cursor: pointer;

                    }

                    select::-ms-expand {
                        display: none;
                    }

                    option {
                        color: #000;
                    }

                    .add-info {
                        padding-left: 0;
                        margin-top: 50px;
                        color: #ffffff;
                        font-style: italic;
                        font-size: 120%;
                    }

                    button {
                        margin-top: 45px;
                        color: #2AACE4;
                        height: 65px;
                        font-size: 130%;
                    }

                    button:hover {
                        color: #2AACE4;
                    }
                }

            }
        }
    }
}

::-webkit-input-placeholder {
    color: #fff;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #fff;
    font-style: italic;
}