body.not-logged-in {
    background-color: #0099E0;
    font-family: verdana, sans-serif;
}

body.not-logged-in main {
    margin-top: 190px;
    margin-bottom: 160px
}

body.not-logged-in h1 {
    text-align: center;
    color: #ffffff;
}

body.not-logged-in .info {
    padding-left: 0;
    color: #ffffff;
    font-style: italic;
    font-size: 120%;
}

/*body.not-logged-in .form-wrapper {*/
    /*margin-top: 35px;*/
/*}*/

body.not-logged-in label {
    font-weight: 100;
    color: #B1DFF5;
    margin-top: 40px;
    padding-left: 0;
}

body.not-logged-in input, body.not-logged-in select {
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid #fff !important;
    font-size: 140%;
    margin-top: 40px;
    border: 0px none;
}

::-webkit-input-placeholder {
    color: #fff;
    font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-style: italic;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
    font-style: italic;
}

:-ms-input-placeholder {
    color: #fff;
    font-style: italic;
}

body.not-logged-in .add-info {
    padding-left: 0;
    margin-top: 50px;
    color: #ffffff;
    font-style: italic;
    font-size: 120%;
}

body.not-logged-in option {
   color: #000;
}

body.not-logged-in button {
    margin-top: 45px;
    color: #2AACE4;
    height: 65px;
    font-size: 130%;
}

body.not-logged-in button:hover {
    color: #2AACE4;
}

#gender {
    -webkit-appearance: none; /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
    background: url("../images/drop-down-arrow.png") 320px 10px no-repeat; /*Adds background-image*/
    background-size: 10px;
    text-indent: 0.01px; /* Removes default arrow from firefox*/
    text-overflow: ""; /*Removes default arrow from firefox*/
    cursor: pointer;

}

select::-ms-expand {
    display: none;
}