body {
  font-family: verdana, sans-serif;
}

body.not-logged-in {
  background-color: #0099E0;

  &.sign-out {
    height: 100vh;
    margin: 0;
    position: relative;
    main {
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  label {
    font-size: 120%;
    font-weight: 100;
    color: #B1DFF5;
    margin-top: 30px;
    padding-left: 0;
  }

  input, select {
    //line-height: 40px;
    //width: 268px;
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid #fff !important;
    font-size: 120%;
    margin-top: 30px;
    border: 0px none;
    padding-left: 9px;
    padding-right: 9px;
  }

  label {
    font-size: 120%;
    font-weight: 100;
    color: #B1DFF5;
    margin-top: 30px;
    padding-left: 0;
  }

  input, select {
    //line-height: 40px;
    //width: 268px;
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid #fff !important;
    font-size: 120%;
    margin-top: 30px;
    border: 0px none;
    padding-left: 9px;
    padding-right: 9px;
  }

  ::-webkit-input-placeholder {
    color: #fff;
    font-style: italic;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-style: italic;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-style: italic;
  }

  :-ms-input-placeholder {
    color: #fff;
    font-style: italic;
  }

  h1 {
    text-align: center;
    color: #ffffff;
  }

  &.sign-in {
    font-size: 1.6rem;
    font-style: normal;

    ::-webkit-input-placeholder {
      font-style: normal;
    }

    :-moz-placeholder {
      /* Firefox 18- */
      font-style: normal;
    }

    ::-moz-placeholder {
      /* Firefox 19+ */
      font-style: normal;
    }

    :-ms-input-placeholder {
      font-style: normal;
    }

    label {
      display: block;
      margin-left: 30px;
      font-size: 1.6rem;
      margin-bottom: 7px;

      &.username {
        margin-top: 60px;
      }
    }

    input {
      margin-left: 14px;
      margin-top: 16px;
      width: 320px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      height: 38px;
      padding: 0 0 22px 15px;
      outline: none;
    }

    input[type="password"] {
      font-size: 120%;
      font-weight: bold;
      letter-spacing: 6px;
    }

    input[type="password"]:-ms-input-placeholder {
      letter-spacing: 0px;
    }

    input[type="password"]::-webkit-input-placeholder {
      letter-spacing: 0px;
    }

    input[type="password"]::-moz-placeholder {
      letter-spacing: 0px;
    }

    input[type='text'] {
      margin-top: 17px;
      margin-bottom: 10px;
    }

    input[type='submit'] {
      font-size: 120%;
      padding: 0;
      margin-left: 14px;
      margin-top: 46px;
      margin-bottom: 32px;
      width: 320px;
      height: 68px;
      border: none !important;
      background-color: #fff;
      color: #0099E0;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }

    a {
      color: white;
    }
  }

  main {
    margin-top: 19.58vh;
    margin-bottom: 16.6vh;

    .info-centered {
      text-align: center;
      color: #fff;
      font-style: italic;
    }

    h1 {
      margin-top: 12px;
      margin-left: 5px;
    }

    .btn-sign {
      border: none;
      background-color: rgba(0, 0, 0, 0);
      color: #fff;
      font-size: inherit;
      padding-top: 3rem
    }

    .custom-width {
      .info {
        padding-left: 0;
        color: #ffffff;
        font-style: italic;
        font-size: 120%;
      }
      p {
        margin-bottom: 0;
      }

      .form-wrapper {
        form {

          input[type="text"], input[type="tel"] {
            outline: none;
          }

          input[type="password"] {
            height: 28px;
            font-size: 140%;
            font-weight: bold;
            letter-spacing: 6px;
            padding-bottom: 12px;
            outline: none;
          }

          input[type="password"]:-ms-input-placeholder {
            height: 28px;
            font-size: 120%;
            font-weight: bold;
            letter-spacing: 6px;
            padding-bottom: 12px;
            outline: none;
          }
          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            background: url("../images/drop-down-arrow.png") calc(100% - 5px) 4px no-repeat; /*Adds background-image*/
            background-size: 25px;
            text-indent: 0.01px;
            cursor: pointer;
          }

          select::-ms-expand {
            display: none;
          }

          option {
            background-color: #fff;
            color: #000;
          }

          .add-info {
            padding-left: 0;
            margin-top: 52px;
            color: #ffffff;
            font-style: italic;
            font-size: 120%;
          }

          button {
            margin-top: 45px;
            color: #2AACE4;
            height: 65px;
            font-size: 130%;
          }

          button:hover {
            color: #2AACE4;
          }
        }

      }
    }
  }
}

body.logged-in {
  background-color: #000;

  section {
    background-color: #fff;
    min-height: 100vh;
  }

  main {
    overflow: hidden;

    .border {
      border-bottom: 1px solid #E1E1E1;
      height: 90px;
    }

    header.border {
      border-bottom: 1px solid #E1E1E1;
      height: 50px !important;

      .map {
        line-height: 50px;
        display: inline-block;
        margin-left: 35px;

        a {
          text-decoration: underline;
        }
      }

      .user-menu {
        line-height: 50px;
      }

    }

    header {
      height: 85px;
      background-color: #fff;

      .logo-container {
        display: inline-block;
        background: url("../images/logo.png") no-repeat;
        height: 80px;
        width: 175px;
      }

      .user-menu {
        line-height: 90px;

        .user-name {
          padding: 5px 10px 10px 30px;
          background: url("../images/profile.png") no-repeat;
          -webkit-background-size: 25px;
          background-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }

  aside {
    color: white;
    background-color: #425364;
    position: relative;

    label {
      font-weight: normal;
      font-size: 1.6rem;
    }

    input {
      height: 42px;
      font-size: 1.5rem;
    }

    select {
      font-weight: bold;
    }
  }

  .aside-header {
    height: 90px;
    font-size: 1.5rem;
    div {
      line-height: 90px;
      padding-top: 10px;
    }
  }
}

body.logged-in {
  background-color: #000;

  section {
    background-color: #fff;
    min-height: 100vh;
    
    .patient-list {
      color: #425364;
      font-size: 17px;
      padding: 22px 25px;
      .table {
        margin-top: 25px;
        th {
          color: #333;
          font-weight: normal;
          padding-bottom: 6px;
          padding-left: 10px;
        }
        tr {
          border-top: none;
          border-bottom: 1px solid #ddd;
        }
        td {
          line-height: 1.65;
          padding-top: 6px;
          padding-left: 10px;
          padding-bottom: 9px;
          a {
            color: #425364;
          }
          a:hover {
            text-decoration: none;
          }
        }
        td div:first-child {
          font-weight: bold;
        }
      }
    }

    .personal-clinical {
      margin: 32px 0 0 30px;
      word-wrap: break-word;

      .line {
        margin-top: 15px;
        margin-bottom: 10px;
        height: 2px;
        background-color: #F4F6F8;
      }

      .bold {
        font-weight: 600;
        color: #435363;
      }
      .size {
        font-size: 20px;
        color: #435363;
      }
      .size-top {
        margin-top: 8px;
      }
      .size-data {
        font-size: 120%;
      }
      .border {
        border-bottom: solid;
        color: #F4F6F8;
      }

    }
  }

  main {
    header {
      height: 90px;
      background-color: #fff;

      hr {
        height: 2px;
        color: #E1E1E1;
        margin: 0;
      }

      .logo-container {
        display: inline-block;
        background: url("../images/logo.png") no-repeat;
        height: 90px;
        width: 175px;
      }

      .user-menu {
        line-height: 90px;
        color: #425364;
        .user-name {
          padding: 5px 10px 10px 30px;
          background: url("../images/profile.png") no-repeat;
          -webkit-background-size: 25px;
          background-size: 25px;
          margin-right: 10px;
        }
      }
    }
  }

  aside {
    color: white;
    background-color: #425364;
    position: relative;

    label {
      font-weight: normal;
      font-size: 1.6rem;
    }

    input {
      height: 42px;
      font-size: 1.5rem;
    }

    select {
      font-weight: bold;
    }
  }

  .aside-header {
    height: 90px;
    font-size: 1.5rem;
    div {
      line-height: 90px;
    }
  }
}

.btn-custom {
  border: 1px solid black;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  padding: 3px 20px;
}

.medications-header {
  margin: 60px 10px 10px 15px;
}

  section {
    min-height: 100vh;
    background-color: #ffffff;

    .logged-in-wrapper {
      min-height: calc(100vh - 90px);
      position: relative;

      .logged-in-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        p {
          font-family: verdana, sans-serif;
          font-size: 120%;
          //word-spacing: -3px;
          color: #7A8DA0;
          margin: 0;
          padding: 0;
        }
      }
    }
    @media screen and (max-width: 991px) {
      .aside-form {
        padding-top: 0;
        min-height: 270px !important;
      }
    }
  }

.table-border {
  width: 750px !important;

  .border-bottom {
    border-bottom: 1px solid #CAD7E3;
  }

  .border-right {
    border-right: 1px solid #CAD7E3;
  }

  .table-cell {
    width: 195px !important;
  }
}

.medications-table-container {
  padding-right: 0 !important;

  .nav.nav-tabs {
    background-color: #fff;
    border-top: 1px solid #DDDDDD;
    border-bottom: none !important;
    padding-top: 15px;
    padding-bottom: 9999px;
    margin-bottom: -9999px;
  }

}

@media screen and (min-width: 992px) {
    .aside-form {
        padding-top: 5px;
        min-height: calc(100vh - 90px);
        padding-bottom: 99999px;
        margin-bottom: -99999px;
        bottom: 0;
    }
    body.not-logged-in section.main > div {
        padding-bottom: 99999px;
        margin-bottom: -99999px;
    }
}

@media screen and (max-width: 991px) {
  .aside-form {
    padding-top: 0;
    min-height: 305px !important;
  }
}

/* custom inclusion of right, left and below tabs */
.tabs-left {
  background-color: #F4F6F8;
  overflow: hidden;
  & > .nav-tabs {
    width: 11%;
    float: left;
    //margin-right: 19px;
    border-right: 1px solid #ddd;
    & > li {
      float: none;
      & > a {
        min-width: 74px;
        margin-right: 0;
        //margin-bottom: 3px;
        margin-right: -1px;
        padding: 10px 15px 9px 15px;
      }

    }
    & .active > a, .active > a:hover, .active > a:focus {
      border: 0px none;
      position: relative;
      background: #fff;
      &:after, &:before {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }

      &:after {
        border-color: rgba(255, 255, 255, 0);
        border-left-color: #fff;
        border-width: 17px;
        margin-top: -17px;
      }
      &:before {
        border-color: rgba(221, 221, 221, 0);
        border-left-color: #ddd;
        border-width: 18px;
        margin-top: -18px;
      }
    }
  }
  & > .tab-content {
    float: left;
    width: calc(89% - 20px);

    padding: 15px 0 15px 15px;
  }

  .fixed-first-column {
    position: relative;
    border-right: 1px solid #ddd;
    margin-right: 30px;
    .inner {
      overflow-x: scroll;
      overflow-y: visible;
      width: auto;
      //max-width: 994px;
      margin-left: 150px;

    }
    table {
      table-layout: fixed;
      width: 100%;
      *margin-left: -100px; /*ie7*/
      td, th {
        vertical-align: top;
        //border-top: 1px solid #ccc;
        padding: 10px;
        width: 150px;
        font-weight: bold;
      }
      td {
        padding-top: 10px;
      }
      th {
        position: absolute;
        *position: relative; /*ie7*/
        left: 0;
        font-weight: normal;
        width: 150px;
        border-right: 1px solid #CAD7E3;
      }
    }
  }
}
